# MacOSX
.DS_Store

#Output
result*
src/result_*
models*
GT
datasets_previous


#Run-Time
confs/3dunet
confs/celegans
confs/compare


#Python
src/*.pyc
src/lib/*.pyc
src/lib/__pycache__
src/__pycache__
src/tools/*.pyc
src/lib/__pycache__
src/tools/__pycache__
datasets/
src/__pycache__/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PyCharm
.idea/

#Reedbush
reedbush
*.e*
*.o*
*.tar.gz
