# MacOSX
.DS_Store


#Output
result*
src/result_*
models*


#Python
src/*.pyc
src/lib/*.pyc
src/tools/*.pyc
src/lib/__pycache__
src/tools/__pycache__
datasets/
src/__pycache__/


#Reedbush
reedbush
*.e*
*.o*